@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*::before,
*::after,
*{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

/* Weights: 500, 800 */

/* 

- Mobile: 375px
- Desktop: 1440px

*/

body{
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Figtree", sans-serif;
    
    
}
img{
    max-width: 100%;
    max-height: 100%;
    padding: 0rem 0rem 1rem 0rem;
    border-radius:2rem;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 2.25rem;
    margin: 5% 5% 2rem 5%;
    border-radius: 1.5rem;
    border: 2px solid black;
    box-shadow: 0.9rem 0.9rem var(--Gray-950);

}

.container #top{
    color: var(--Gray-950);
    max-width: auto;
    background-color: var(--Yellow);
    padding-left: 0.25rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    margin-right: 32rem;
    padding-left: 0.5rem;
}

.container h3{
    font-size: 15px;
    color: var(--Gray-500);
    margin-bottom: 1rem;
    font-weight: 800;
}


.container h1{
    color: var(--Gray-950);
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.container p{
    color: var(--Gray-500);
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.author {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.1rem;
}

.author h2{
    margin-left: 1rem;
}

.author img{
    margin-top: 1rem;
    max-width: 100%;
    height: 60px;
}
.attribution { 
    font-size: 17px; 
    text-align: center;
    border: 1px solid transparent;
    background-color: rgba(10, 0, 0, 0.473); 
    border-radius: 0.5rem;
    color: var(--Yellow);
}
.attribution a { 
    color: hsl(88, 100%, 64%); 
    text-decoration: none;
}

@media (min-width:500px) {
    .container{
        width: 700px;
    }
 }
